<f:if condition="{children_201}">
	<div style="float:left; width: 49%; background-color: #fefbec; margin-right: 20px;">
		<f:for each="{children_201}" as="child">
			<f:format.raw>{child.renderedContent}</f:format.raw>

			<f:comment>
				<!--
				You can access individual fields of the tt_content record e.g. the header field like this: {child.header}
				-->
			</f:comment>

		</f:for>
	</div>
</f:if>

<f:if condition="{children_202}">
	<div style="float:left; width: 49%; background-color: #fefbec;">
		<f:for each="{children_202}" as="child">
			<f:format.raw>{child.renderedContent}</f:format.raw>
		</f:for>
	</div>
</f:if>